name: Build and Push Docker Image to GCP

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Configure Docker for Artifact Registry
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

    - name: Build Docker Image
      run: |
        docker build -t us-central1-docker.pkg.dev/neat-pagoda-477804-m8/my-docker-repo/myapp:latest .

    - name: Push Docker Image
      run: |
        docker push us-central1-docker.pkg.dev/neat-pagoda-477804-m8/my-docker-repo/myapp:latest
